<!-- parte 1 -->
<h3>Binding innerHTML</h3>
<p>Bound value: </p>
<p>{{htmlSnippet}}</p>
<p>Result of binding to innerHTML</p>
<p [innerHTML]="htmlSnippet"></p>

<!-- parte 2 -->
<h4>An untrusted URL: </h4>
<p><a [href]="dangerousURL">Click me</a></p>
<h4>A trusted URL: </h4>
<p><a [href]="trustedURL">Click me</a></p>

<!-- parte 3 -->
<h4>Resource URL: </h4>
<p>Showing: {{dangerousVideoUrl}}</p>
<p>Trusted: </p>
<iframe width="640" height="390" [src]="videoUrl"></iframe>
<p>Untrusted: </p>
<iframe width="640" height="390" [src]="dangerousVideoUrl"></iframe>

<!-- parte 4 -->
<hr>
<div id="divTestHacking" [innerHTML]="inputTrustedTask"></div>
<input type="text" placeholder="Add task" [(ngModel)]="inputTask">
<button (click)="addToDom()">Add</button>